@font-face {
    font-family: 'Ageo';
    src: url('Ageo-Bold.woff2') format('woff2'),
        url('Ageo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('Ageo-Regular.woff2') format('woff2'),
        url('Ageo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ageo';
    src: url('Ageo-ExtraBold.woff2') format('woff2'),
        url('Ageo-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Day Personal Use';
    src: url('GreatDayPersonalUse.woff2') format('woff2'),
        url('GreatDayPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

